"*":
  Hydrogen:
    kernelspec: "{\"kernelspecs\":{\"python3\":{\"resources_dir\":\"/usr/local/lib/python3.5/site-packages/ipykernel/resources\",\"spec\":{\"display_name\":\"Python 3\",\"argv\":[\"/usr/local/opt/python3/bin/python3.5\",\"-m\",\"ipykernel\",\"-f\",\"{connection_file}\"],\"env\":{},\"language\":\"python\"}}}}"
  "autocomplete-python": {}
  "autohide-tree-view": {}
  core:
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    invisibles: {}
  "exception-reporting":
    userId: "9761975c-5b2d-a4fa-5881-7ad10427948c"
  gist:
    closeOnSave: true
    token: "29f283753a5e21b402618dd74ee730db7d0f1e73"
  "git-plus": {}
  "highlight-selected": {}
  linter:
    showErrorPanel: false
  "linter-matlab":
    mlintDir: "/Applications/MATLAB_R2015a.app/toolbox/matlab/codetools/mlint.m"
  "linter-pep8": {}
  "markdown-pdf": {}
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "one-dark-ui": {}
  pigments: {}
  "svg-preview": {}
  "symbols-tree-view": {}
  "sync-settings":
    _analyticsUserId: "752edbe0-c2dc-45a5-8069-7200e42a26cc"
    _lastBackupHash: "1273792c5c3bb3fb38a142f5291a8a66d7c7a831"
    analytics: false
    gistId: "3e669a3846bfd2d4678f"
    personalAccessToken: "e1835843c083f3d56d8656120e637dd571110632"
  "terminal-plus":
    core: {}
    style: {}
    toggles: {}
  "terminal-status": {}
  todo: {}
  "todo-show": {}
  welcome:
    showOnStartup: false
".django.python.source":
  editor:
    autoIndentOnPaste: true
